

{% extends "index.html" %}

{% block content %}



{%  if alert!='' %}

<div class="alert alert-{{ atype }} alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
  {% raw alert %}
</div>

{% end %}
    <h1 class="page-header">Dashboard</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>

                  <th>Repository</th>
                  <th>Last modified</th>
                  <th>Actions</th>

                </tr>
              </thead>
              <tbody>
               {% for repo in repo_list %}
               <tr>
                 <td><a href="repo?repo={{ repo['index'] }}" title="{{ repo['path'] }}"><strong>{{ escape(repo['Name']) }}</strong> {%  raw repo['Status'] %}</a></td>
                 <td>{% raw  repo['LastModified'] %}</td>
                 <td>{% raw  repo['Actions'] %}</td>

               </tr>
               {% end %}



              </tbody>
            </table>
          </div>

{% end %}
