

{% extends "index.html" %}


{% block title %}
RepoHub \ {{ repo['Name']}}
{% end %}


            {% block sidebar %}
            <li><a href="/">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Import Repo</a></li>
            <li><a href="#">Export Repos</a></li>
            {% end %}


{% block content %}
{%  if alert!='' %}

<div class="alert alert-{{ atype }} alert-dismissible">
  {% raw alert %}
</div>

{% end %}
<h1 class="page-header">RepoHub\{{ repo['Name'] }}\{{ title }}</h1>

<h2> Message: </h2>
<pre>
{{ output }}
</pre>

{% end %}
